<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Express Jukebox</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="/css/application.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="/js/application.js"></script>
</head>
<body>
  <main class="container-fluid p-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/cards">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Card <%= card.number %></li>
      </ol>
    </nav>

    <h2 class="mb-3">Welcome to the Jukebox</h2>

    <h4>Edit card</h4>
    <form id="editCard" class="mb-3" action="/cards/edit/<%= card.number %>" method="POST">
      <div class="form">
        <div class="form-group">
          <label for="label">Label</label>
          <input type="text" class="form-control" name="label" value="<%= card.label %>" placeholder="A short label identifying the card">
        </div>

        <div class="form-group">
          <label for="uri">URI</label>
          <input type="text" class="form-control" id="cardURI" name="uri" value="<%= card.uri %>" placeholder="Paste a URI to play here, or search Spotify below" data-timer-label="spotifyPreview" data-result-list="#spotifyPreview">
        </div>

        <div class="d-flex flex-column w-100" id="spotifyPreview"></div>

        <div class="form-group">
          <label for="spotifySearchString">Search Spotify</label>
          <input type="text" class="form-control" name="q" id="spotifySearchString" data-timer-label="spotifySearch" data-result-list="#spotifyResults">
        </div>

        <div class="form-check">
          <input type="checkbox" name="shuffle" value="<%= card.shuffle %>" <%= card.shuffle ? "checked" : "" %>>
          <label for="shuffle">Shuffle</label>
        </div>

        <div class="form-check">
          <input type="checkbox" name="repeat", value="<%= card.repeat %>" <%= card.repeat ? "checked" : "" %>>
          <label for="repeat">Repeat</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Configure">
      </div>
    </form>

    <div class="d-flex flex-column w-100" id="spotifyResults"></div>

    <script type="text/javascript">
      $(() => {
        // init page
        initTimeoutSearch("#cardURI", previewSpotify)
        initTimeoutSearch("#spotifySearchString", searchSpotify)

        if (document.querySelector("#cardURI").value.length > 8) {
          previewSpotify(document.querySelector("#cardURI").value)
        }
        // done init page
      })
    </script>
  </main>
</body>
</html>
