<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Express Jukebox</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
  <main class="container-fluid p-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/cards">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Card <%= card.number %></li>
      </ol>
    </nav>

    <h2 class="mb-3">Welcome to the Jukebox</h2>

    <h4>Edit card</h4>
    <form id="editCard" class="mb-3" action="/cards/edit/<%= card.number %>" method="POST">
      <div class="form">
        <div class="form-group">
          <label for="label">Label</label>
          <input type="text" class="form-control" name="label" value="<%= card.label %>" placeholder="A short label identifying the card">
        </div>

        <div class="form-group">
          <label for="uri">URI</label>
          <input type="text" class="form-control" name="uri" value="<%= card.uri %>" placeholder="Paste a URI to play here, or search Spotify below">
        </div>

        <div class="form-group">
          <label for="spotifySearchString">Search Spotify</label>
          <input type="text" class="form-control" name="q" id="spotifySearchString">
        </div>

        <div class="form-check">
          <input type="checkbox" name="shuffle" value="<%= card.shuffle %>" <%= card.shuffle ? "checked" : "" %>>
          <label for="shuffle">Shuffle</label>
        </div>

        <div class="form-check">
          <input type="checkbox" name="repeat", value="<%= card.repeat %>" <%= card.repeat ? "checked" : "" %>>
          <label for="repeat">Repeat</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Configure">
      </div>
    </form>

    <div id="spotifyResults"></div>

    <script type="text/javascript">
      $(() => {
        // init page
        var typingTimer
        const doneTypingInterval = 500
        $("#spotifySearchString").keyup(() => {
          clearTimeout(typingTimer)
          if($("#spotifySearchString").val().length > 3) {
            typingTimer = setTimeout(searchSpotify, doneTypingInterval)
          }
        })
        // done init page
      })

      function searchSpotify() {
        var type = "track,album,playlist"
        var q = encodeURI($("#spotifySearchString").val())

        var spotifyResults = document.getElementById('spotifyResults')
        append(spotifyResults, loader())

        fetch(`/api/v1/search/spotify?q=${q}&type=${type}`).then((response) => {
          return response.json()
        }).then((data) => {
          while (spotifyResults.firstChild) {
            spotifyResults.removeChild(spotifyResults.firstChild)
          }

          var albums = data.albums.items
          var playlists = data.playlists.items
          var tracks = data.tracks.items

          if (albums && albums.length > 0) {
            addSpotifyResultList("Albums", albums.slice(0,7))
          }

          if (playlists && playlists.length > 0) {
            addSpotifyResultList("Playlists", playlists.slice(0,7))
          }

          if (tracks && tracks.length > 0) {
            addSpotifyResultList("Songs", tracks.slice(0,7))
          }
        })
      }

      function createNode(element) {
        return document.createElement(element)
      }

      function append(parent, el) {
        return parent.appendChild(el)
      }

      function loader() {
        var svg = createNode('img')
        svg.classList.add("mx-auto")
        svg.src = "/public/triangles.svg"
        svg.width = "100px"
        svg.height = "100px"

        return svg
      }

      function addSpotifyResultList(title, items) {
        // <h5 class="w-100 border-bottom">Albums</h5>
        // <div class="row" id="albumList"></div>
        var spotifyResults = document.getElementById('spotifyResults')
        var headingItem = createNode('h5')
        var rowItem = createNode('div')

        headingItem.classList.add("w-100", "border-bottom")
        headingItem.textContent = title
        rowItem.classList.add("row")

        items.forEach((item) => append(rowItem, buildSpotifyItem(item)))

        append(spotifyResults, headingItem)
        append(spotifyResults, rowItem)
      }

      function buildSpotifyItem(item) {
        var colItem = createNode('div')
        var itemLink = createNode('a')
        var itemThumbnail = createNode('img')
        var itemDetail = createNode('div')
        var itemName = createNode('span')
        var itemArtist = createNode('span')
        var lineBreak = createNode('br')

        colItem.classList.add("mb-3", "col-xs-6", "col-sm-3")

        itemLink.classList.add("d-flex", "align-items-center", "spotify-item")
        itemLink.dataset.uri = item.uri
        itemLink.href = "#"

        itemThumbnail.classList.add("float-left", "item-thumbnail")
        itemThumbnail.alt = `${item.name} cover`
        // 2 is normally 64x64
        // Tracks needs to look up item.album.images[2].url
        if (typeof item.images !== "undefined") {
          itemThumbnail.src = item.images[item.images.length - 1].url
        } else {
          itemThumbnail.src = item.album.images[2].url
        }

        itemDetail.classList.add("ml-2", "item-detail")
        itemName.textContent = item.name
        // collect up to x or 'various artists'?
        // Playlists need to look up item.owner.display_name
        if (typeof item.artists !== "undefined") {
          itemArtist.textContent = item.artists[0].name
        } else {
          itemArtist.textContent = item.owner.display_name
        }

        append(itemDetail, itemName)
        append(itemDetail, lineBreak)
        append(itemDetail, itemArtist)

        append(itemLink, itemThumbnail)
        append(itemLink, itemDetail)

        append(colItem, itemLink)

        itemLink.addEventListener('click', (e) => {
          e.preventDefault()
          $("#cardURI").val(itemLink.dataset.uri)
        })

        return colItem
      }
    </script>

    <style media="screen">
      .btn > * {
        pointer-events: none;
      }

      .item-thumbnail {
        height: 64px;
        width: 64px;
      }

      a.spotify-item { text-decoration: none }
      a.spotify-item:hover { background-color: rgba(0,0,0,0.1) }
      .item-detail {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>
  </main>
</body>
</html>
